<br>
<hr>
<br>
<app-carousel class="carousel"></app-carousel>
<br>
<hr>
<br>

<br>
<hr>
<br>
<app-carousel class="login"></app-carousel>
<br>
<hr>
<br>

<div>
    <h3 style="text-align: center;">Mejor Valoradas</h3>
</div>

<br>
<hr>
<br>

<div class="bloque">
    <div *ngFor="let i of lista">
        <img src="{{ i }}" class="telefono">
    </div>
</div>

<br>
<hr>
<br>

<div>
    <h3 style="text-align: center;">Más Escuchadas</h3>
</div>

<br>
<hr>
<br>

<div class="bloque">
    <div *ngFor="let i of lista">
        <img src="{{ i }}" class="telefono">
    </div>
</div>

<br>
<hr>
<br>