<br>
<hr>
<br>
<app-carousel class="carousel"></app-carousel>
<br>
<hr>
<br>

<div>
    <h3 style="text-align: center;">Más Escuchadas</h3>
</div>

<br>
<hr>
<br>

<div class="bloque">
    <div class="card" *ngFor="let cancion of canciones | paginate: { itemsPerPage: 8, currentPage: p }">
        <img class="card-img-top img" src="{{ cancion?.portada }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{cancion?.titulo}}</h5>
            <button class="btn btn-danger" [routerLink]="['/musicadetalle', cancion.idCancion, cancion.valoracion, cancion.vecesValorada ]">Más Información</button>
        </div>
    </div>
</div>

<br>
<hr>
<br>

<div>
    <h3 style="text-align: center;">Mejor Valoradas</h3>
</div>

<br>
<hr>
<br>

<div class="bloque">
    <div class="card" *ngFor="let cancion of canciones2 | paginate: { itemsPerPage: 8, currentPage: p }">
        <img class="card-img-top img" src="{{ cancion?.portada }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{cancion?.titulo}}</h5>
            <button class="btn btn-danger" [routerLink]="['/musicadetalle', cancion.idCancion, cancion.valoracion, cancion.vecesValorada ]">Más Información</button>
        </div>
    </div>
</div>

<br>
<hr>
<br>