.div {
    text-align: center;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #536fdd;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 8px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
   
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
   
  .button span:after {
   
  content: '\00bb';  /* Entidades CSS. Para usar entidades HTML, use &#8594;*/
   
  position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
   
  .button:hover span {
    padding-right: 25px;
  }
   
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }
  

.col-wrapper{
    display:flex;
}
    
@media(max-width:580px){
    .col-wrapper{
        display: block;
      }
}

.bordes {
    border-radius: 33px 33px 33px 33px;
    -moz-border-radius: 33px 33px 33px 33px;
    -webkit-border-radius: 33px 33px 33px 33px;
    border: 2px solid #000000;
}

.slide {
  width: 560px;
  height: 315px;
}

@media (max-width:700px) {
  .slide {
      width: 100%;
      height: auto;
  }
}
.container{
  text-align:center;
}

.box{
  display: inline-block;
}

.sidebar-box {
  padding: 5px 10px;
  height:42px;
  margin:10px auto;
  min-width: 225px;
  -webkit-appearance: none;
  height: 34px;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
  
}
    .imgRedonda {
      width:75%;
      height:100%;
      border:3px solid #666;
      height: auto;
  }

  .imgRedonda2 {
    width:60px;
    height:300px;
    border-radius:150px;
    border:3px solid rgb(155, 154, 154);
    height: auto;
  }
