<nav class="navbar navbar-expand-lg" style="background-color: #26272b;">
    <a class="navbar-brand" routerLink="home" style="color: white"><img height="auto" width="50px" src="./assets/logo_angular.png"></a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color: white;">
    <span class="navbar-toggler-icon"><img height="auto" width="30px" style="margin: 1px;" src="./assets/menu.png"></span>
  </button>

 
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="home" routerLinkActive="active" style="color: white">Menú Principal<span class="sr-only">(current)</span></a>
            </li>
            <li *ngIf="rol == 1" class="nav-item">
                <a class="nav-link" routerLink="musica" routerLinkActive="active" style="color: white">Música</a>
            </li>
            <li *ngIf="rol == 1" class="nav-item">
                <a class="nav-link" routerLink="mimusica" routerLinkActive="active" style="color: white">Mi Música</a>
            </li>
            <li *ngIf="rol == 1" class="nav-item">
                <a class="nav-link" routerLink="playlist" routerLinkActive="active" style="color: white">Mis Playlists</a>
            </li>
            <li *ngIf="rol == 1" class="nav-item">
                <a class="nav-link" routerLink="foro" routerLinkActive="active" style="color: white">Foro</a>
            </li>
            <li *ngIf="rol == 2" class="nav-item">
                <a class="nav-link" routerLink="musica" routerLinkActive="active" style="color: white">Música</a>
            </li>
            <li *ngIf="rol == 2" class="nav-item">
                <a class="nav-link" routerLink="mimusica" routerLinkActive="active" style="color: white">Mi Música</a>
            </li>
            <li *ngIf="rol == 2" class="nav-item">
                <a class="nav-link" routerLink="playlist" routerLinkActive="active" style="color: white">Mis Playlists</a>
            </li>
            <li *ngIf="rol == 2" class="nav-item">
                <a class="nav-link" routerLink="foro" routerLinkActive="active" style="color: white">Foro</a>
            </li>
            <li *ngIf="rol == 2" class="nav-item">
                <a class="nav-link" routerLink="administracion" routerLinkActive="active" style="color: white">Administración</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about" routerLinkActive="active" style="color: white">Sobre Nosotros</a>
            </li>
        </ul>
        
        <br>
        <a *ngIf="rol" routerLink="perfil" routerLinkActive="active" style="padding-right: 10px;"><img class="imgRedonda" src="{{ url }}"></a>
        <button *ngIf="!rol" class="button" routerLink="login" routerLinkActive="active"><p style="color: white;"> LOGIN </p></button> <br>
        <button *ngIf="!rol" class="button" routerLink="register" routerLinkActive="active"><p style="color: white;"> REGISTRO </p></button> <br/>
        <button *ngIf="rol" class="button" (click)="logout()"><p style="color: white;"> LOGOUT </p></button> <br/>

    </div>
</nav>

<div class="container">
    <router-outlet></router-outlet>
    <ng-template #home>
        <app-home></app-home>
    </ng-template> 
</div>

<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>CoolSound</h6>
                <p class="text-justify">Web de tematica musical donde artistas anónimos pueden darse a conocer y donde conocer a nuevos artistas. Registrate, entra, comparte musica.</p>
            </div>

            <div class="col-xs-6 col-md-3 has-danger">
                <h6>Accesos Rápidos</h6>
                <ul class="footer-links">
                    <li><i class="far fa-envelope"></i><a routerLink="home">Menú Principal</a></li>
                    <li><a routerLink="about">Sobre Nosotros</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by Coolsound.
                </p>
            </div>
        </div>
    </div>
</footer>