<section class="container">
<div class="box">
    <div class='container-fluid'>
        <ngb-carousel>
            <ng-template ngbSlide>
                <img class="slide" src="/assets/1.jpg">
            </ng-template>
            <ng-template ngbSlide>
                <img class="slide" src="/assets/2.jpg">
            </ng-template>
            <ng-template ngbSlide>
                <img class="slide" src="/assets/3.jpg">
            </ng-template>
            <ng-template ngbSlide>
                <img class="slide" src="/assets/4.jpg">
            </ng-template>
        </ngb-carousel>
    </div>
</div>
</section>