<br>
<hr>
<br>
<h3 style="text-align: center;">FORO</h3>
<br>

<div class="bloque">
    <table class="table table-striped"  width="100%">
        <thead>
            <tr>
                <th scope="col col-m">#</th>
                <th scope="col col-m">Hilo</th>
                <th scope="col col-m"></th>
                <th scope="col col-m"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let hilo of hilos | paginate: { itemsPerPage: 5, currentPage: p }">
                <th scope="row">{{hilo.idHilo}}</th>
                <td>{{hilo.nombre}}</td>
                <td>
                    <input type="button" class="btn btn-primary" value="Acceder">
                </td>
                <td *ngIf="rol == 2">
                    <input type="button" (click)="eliminar(hilo.idHilo)" class="btn btn-danger" value="Eliminar">
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br><br>
<div style="text-align: center;">
    <button routerLink="nuevoHilo" routerLinkActive="active" class="btn btn-warning">Añadir Nuevo Hilo</button>
</div>
<br><br>
<pagination-controls (pageChange)="p = $event" responsive="true" previousLabel="Previous" nextLabel="Next"></pagination-controls>

<br>
<hr>
<br>
