<br/>
<hr/>
<br/>

<div class="col-wrapper">
    <div class="col div">
        <img class="imgRedonda" src="{{ url }}"> <br><br>
        <button class="button" routerLink="nuevaImagen" routerLinkActive="active"><p style="color: white;"> Cambiar imagen </p></button> <br>
    </div>
    <br> <br>
    <div class="col bordes div">
        <br>
        <p><b>Nombre de Usuario: </b>{{ nombre }}</p>
        <p><b>Correo Electrónico: </b>{{ correo }}</p>
        <button class="button" routerLink="cambiarContrasena" routerLinkActive="active"><p style="color: white;"> Cambiar contraseña </p></button> <br>
        <br>
    </div>
</div>

<br/>
<hr/>
<br/>